<div class="ordre">
  <h2>Test</h2>
  <div>
    <% @reservations.each do |x| %>

      <div class="reservation_principale">
        <div class="main">
          <h2><%= x.boulangerie.name  %> </h2>
          <p><%= x.date %></p>
          <p> <%= x.price %> </p>
        </div>

        <div class="recapitulatif" >
          <p> <%= x.nb_pc %> </p>
          <p> <%= x.nb_cr %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
