<div class="ordre">
  <div>
    <% @reservations.each do |x| %>

      <div class="reservation_principale">
        <div class="main">
          <h2><%= x.boulangerie.name  %> </h2>
          <p> Reservation a venir chercher le : <%= x.date %></p>
          <p>  Prix: <%= x.price %> € </p>
        </div>

        <div class="recapitulatif" >
          <p> Pain au chocolats : <%= x.nb_pc %> </p>
          <p> Croissants : <%= x.nb_cr %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
