<h1>Reservations#new</h1>

<%= simple_form_for [@boulangerie, @reservation] do |f| %>
  <%= f.input :date %>
  <%= f.input :price %>
  <%= f.input :nb_cr %>
  <%= f.input :nb_pc %>
  <%= f.button :submit %>
<% end %>
