<h1>Boulangeries#index</h1>
<% @boulangeries.each do |x| %>
  <p>-----------------------------</p>
  <h2><%= x.name %> - <%= link_to "Show", boulangery_path(x)  %></h2>
  <p> <%= x.position %> </p>
  <p> <%= x.badge %> </p>
  <p> <%= x.prix_pc %> </p>
  <p> <%= x.prix_cr %> </p>
  <p> <%= x.time_open %> </p>
  <p> <%= x.time_close %> </p>
<% end %>
