<div class="cont1">
  <div class="flex flex-grow justify-center items-center">
    <span class="iconify" data-icon="ant-design:crown-filled" data-inline="false"></span>
    <h1>Ranking</h1>
  </div>
  <% @boul_or.sort_by { |x| x.average_rating }.each do |x| %>
  <% @count += 1 %>
    <div class="cardprincipal">
      <div class="flex ">
        <h1><%= @count %></h1>
      </div>
      <div class="flex flex-grow justify-around">
        <h2><%= x.name %> </h2>
      </div>
      <div class="flex">
        <span class="iconify" data-icon="vaadin:medal" data-inline="false" style="color: gold;"></span>
        <h2> <%= x.average_rating.round(2)  %> </h2>
      </div>
    </div>
  <% end %>
  <% @boul_ar.sort_by { |x| x.average_rating }.each do |x| %>
  <% @count += 1 %>
    <div class="cardprincipal">
      <div class="flex ">
        <h1><%= @count %></h1>
      </div>
      <div class="flex flex-grow justify-around">
        <h2><%= x.name %>  </h2>
      </div>
      <div class="flex">
        <span class="iconify" data-icon="vaadin:medal" data-inline="false" style="color: silver;"></span>
        <h2> <%= x.average_rating.round(2) %> </h2>
      </div>
    </div>
  <% end %>
  <% @boul_br.sort_by { |x| x.average_rating }.each do |x| %>
  <% @count += 1 %>
    <div class="cardprincipal">
      <div class="flex ">
        <h1><%= @count %></h1>
      </div>
      <div class="flex flex-grow justify-around">
        <h2><%= x.name %> </h2>
      </div>
      <div class="flex">
        <span class="iconify" data-icon="vaadin:medal" data-inline="false" style="color: rgb(131, 74, 28);"></span>
        <h2> <%= x.average_rating.round(2) %></h2>
      </div>
    </div>
  <% end %>
  <div class="cardprincipal">
      <div class="flex ">
        <h1> o </h1>
      </div>
      <div class="flex flex-grow justify-around">
        <h2> o </h2>
      </div>
      <div class="flex">
        <span class="iconify" data-icon="vaadin:medal" data-inline="false" style="color: rgb(131, 74, 28);"></span>
        <h2> o </h2>
      </div>
    </div>
</div>
