
  <p>---------------------------------</p>
  <h1> <%= @dist %></h1>
  <h2><%= @boulangerie.name %></h2>
  <p> <%= @boulangerie.position %> </p>
  <p> <%= @boulangerie.badge %> </p>
  <p> <%= @boulangerie.prix_pc %> </p>
  <p> <%= @boulangerie.prix_cr %> </p>
  <p> <%= @boulangerie.time_open %> </p>
  <p> <%= @boulangerie.time_close %> </p>
  <p>---------------------------------</p>


